/*-------------------------*/
/*-- Grid View for media --*/
/*-------------------------*/
span[data-tag*="rm-"],
span[data-tag^=":"] {
  display: none;
}
.roam-block-container[data-page-links*="rm-g"] > .rm-block-children {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 265px));
}
