:root {
  --dropdown-main-btn-bg-h: rgba(167, 182, 194, 0.3);
  --dropdown-shadow: rgb(16 22 26 / 10%);
  --dropdown-c: rgb(172 179 191);

  --yt-gif-icon-bg: #696969;

  --drop-menu-btn-h: var(--dropdown-main-btn-bg-h);
  --dropdown--bg: #10161a;

  --submenu-message-bg: #2f414e;

  --submenu-styles-item-bg-h: rgba(74, 190, 195, 0.3);
  --submenu-styles-content-bg: #415c69;

  --submenu-info-btn-bg: #1b5021;
  --submenu-info-btn-bg-h: rgba(44, 116, 52, 0.87);

  --submenu-info-item-bg-h: #3e8a47ba;
}
