
:root{
  --ddm-tooltip-arrow-size: 2ch;
  --ddm-scale-tooltip: 0;
  --ddm-tooltip-traslate-y: 0;

  --base-x-offset-content: 50%;
  /*https://youtu.be/ujlpzTyJp-M*/
}

:is([class*="yt-gif"]) :is([data-tooltip])::before,
:is([class*="yt-gif"]) :is([data-tooltip])::after {
  color: var(--ddm-tooltip-c);
  font-size: .9em;
  text-align: center;
  height: auto;
  /* max-height: fit-content; */
  width: max-content;
  min-width: min-content;
  max-width: 45ch !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(var(--ddm-tooltip-traslate-y)) scale(var(--ddm-scale-tooltip));
  transition: 100ms transform;
  transform-origin: bottom center;
  font-weight: bold;
  z-index: 10000;
}

:is([class*="yt-gif"]) :is([data-tooltip])::before {
  content: attr(data-tooltip);
  background-color: var(--ddm-tooltip-bg);
  border-radius: .7em;
  padding: 0ch 1ch;

  --ddm-tooltip-traslate-y: calc(-100% - var(--ddm-tooltip-arrow-size));
}

:is([class*="yt-gif"]) :is([data-tooltip]):hover::before,
:is([class*="yt-gif"]) :is([data-tooltip]):hover::after {
  --ddm-scale-tooltip: 1;
}
[data-tooltip]:hover + [data-tooltip]:hover::before{ /* avoid tooltip overlapping - label + input*/
  --ddm-scale-tooltip: 0 !important;
}
/* broken - down arrow - for two or more lines F 
:is(label.dropdown-item-description)::after {
  content: '';
  --ddm-tooltip-traslate-y: calc(-1 * var(--ddm-tooltip-arrow-size));
  
  border: var(--ddm-tooltip-arrow-size) solid transparent;
  border-top-color: var(--ddm-tooltip-bg);
  
  transform-origin: top center;
}*/





/*well the big boi ddm, the big one*/
span.yt-gif-drop-down-menu-toolbar .bp3-popover-target > .dropdown {
  z-index: 1001; /* lol */
}

/*YT GIF ICON - on the topbar*/
.dropdown:hover .dropbtn {
  background-color: var(--drop-menu-btn-h);
}
.ty-gif-icon:focus{
  background-color: var(--drop-menu-btn-f) !important;
}
.ty-gif-icon {
  padding: 0px 0px !important;
}
.ty-gif-icon:before {
  display: none;
}
svg.yt-gif-svg {
  max-width: 24px;
  max-height: 24px;
  aspect-ratio: 1 / 1;
}
path.yt-gif-svg-bg {
  fill: var(--yt-gif-icon-bg);
}

/* DROP DOWN & REVEALING IT's content*/
.dropdown-focus{
  display: flex !important;
}
/*.dropdown-blur{
  
}*/
.dropdown {
  display: inline-block;
  position: relative;
  --base-x-offset-content: -50%;
}
.dropdown:hover > .dropdown-content {
  display: flex;
}
.yt-gif-style > .dropdown-content{
  left: 50%; /* dead centered*/
  --base-x-offset-content: -100%; /* dead centered*/ 
}
.dropdown-content {
  display: none;
  width: max-content;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  z-index: 11 !important;
  transform: translateX(var(--base-x-offset-content));
  /* background-color: var(--dropdown--bg); */
  border-radius: 10px;
  /* box-shadow: 0px 3px 20px 1px  var(--dropdown-shadow); */
  z-index: 1;
}
/* WHOLE HIERARCHY*/
.dropdown-content {
  --m: 10px 10px;
}
.dropdown label {
  display: block;
}
span.dropdown-item,
.yt-gif-style,
.dropdown-info-message,
.dropdown-item-select{
  border-radius: 5px;
}
.dropdown-info-message {
  background-color: var(--submenu-message-bg);
  padding: 5px;
  color: var(--dropdown-c);
}

span.dropdown-info-message.dropdown-item-description{
  background-color: transparent;
  font-size: .9em;
}

:is(span.dropdown-item, 
.yt-gif-style, 
div.dropdown-item-select):hover {
  background-color: var(--dropdown-main-btn-bg-h);
}
span.dropdown-item *,
.yt-gif-style > span.dropdown-info-message {
  margin: var(--m);
}

/* DROP DOWN ITEMS - mainly description next to a checkbox*/
span.dropdown-item {
  width: max-content;
  display: flex;
  align-items: center;
}

/*LEFT SIDE of item ≡ description*/
.dropdown-item-description {
  color: var(--dropdown-c);
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}
/*RIGHT SIDE of item ≡ description*/
.dropdown-content input {
  vertical-align: bottom;
  margin-left: 0;
}

/*RANGE & scrollwheel features*/
span.rangeOffset {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: normal;
  padding: 0px !important;
}
.dropdown-item.rangeOffset .dropdown-info-message{
  padding: 0px !important;
}
span.rangeOffset * {
  --m: 0px 10px;
}
span.rangeOffset label {
  min-width: 12.8px;
  vertical-align: bottom;
  margin-left: 0;
}
span.rangeOffset input {
  width: 100%;
}
.dropdown input[type=range]{
  cursor: col-resize;
}

/*SUB DROPDOWN MENU */
.dropdown-item-contain-two,
.dropdown-info-message {
  display: flex;
}
span.dropdown-info-message {
  align-self: center;
  cursor: pointer;
}
.dropdown-item-separator {
  width: 100%;
  height: .5ch;
  background-color: var(--submenu-message-bg);
  border-radius: 100%;
}
/*YT GIF SYTLE SUB DROP DOWN */
.yt-gif-style {
  align-self: center;
  margin: var(--m);
}
.yt-gif-style > .dropdown-content {
  --dropdown-main-btn-bg-h: var(--submenu-styles-item-bg-h);
  --drop-menu-btn-h: var(--submenu-styles-item-bg-h-h);
  --dropdown--bg: var(--submenu-styles-content-bg);
}
.ddm-inline{
  align-self: end;
  --m: 5px;
}



/*SHOW TEXT INFO DROP DOWN*/
.dropdown-show-info {
  padding: 15px 7px;
  --base-x-offset-content: -40%;
  --message-opacity: 0.5;
}

.dropdown-info-box .dropdown-item {
  max-width: 40ch;
}
.dropdown-show-info .dropdown-item-description{
  text-align: center;
}
.dropdown-show-info > .dropdown-info-message {
  --submenu-message-bg: var(--submenu-info-btn-bg);
  opacity: var(--message-opacity);
  cursor: help;
}
div.dropdown-show-info:hover > span.dropdown-info-message{
  --submenu-message-bg: var(--submenu-info-btn-bg-h);
  --message-opacity: 1.0:
}
.dropdown-info-box > .dropdown-info-message--aditional {
  display: flex;
  max-width: 40ch;
  flex-direction: column;
  text-align: center;
}

span.dropdown-info {
  color: var(--dropdown-c);
}


/* deployment funcionality feedback */
.dropdown_forbidden-input{
  --deployment-extreme-bg:var(--deployment-forbidden-extreme-bg);
  --deployment-mid-bg:var(--deployment-forbidden-mid-bg);
}

.dropdown_allright-input{
  --deployment-extreme-bg:var(--deployment-forbidden-extreme-bg);
  --deployment-mid-bg:var(--deployment-allright-mid-bg);
}

.dropdown_fadeIt-bg_animation {    
    background-image:none !important;
    animation: fadeIt 10s ease-in-out; 
}

@keyframes fadeIt {
  0%   { background-color: var(--deployment-extreme-bg); }
  50%  { background-color: var(--deployment-mid-bg); }
  100% { background-color: var(--deployment-extreme-bg); }
}

/* SHOULD BE ADDED AND REMOVED THROUGH JAVASCRIPT */
.dropdown--hidden {
  display: none !important;
}
.dropdown_not-allowed_input *{
  cursor: not-allowed;
}
/* navegate to settings page not allowed */
div.settings-not-allowed > span.dropdown-info-message{
  cursor: not-allowed;
}
:is(div.settings-not-allowed, div.settings-not-allowed:hover) 
> span.dropdown-info-message {
  --submenu-message-bg: var(--ddm-not-allowed-bg); 
}
div.settings-not-allowed > span.dropdown-info-message:hover{
  --dropdown-main-btn-bg-h: var(--ddm-not-allowed-bg-h);
}

/* Treat it like a perma highlight */
.dropdown_deployment-style > .dropdown-info-message {
  --submenu-message-bg: var(--submenu-message-bg-high);
}

/* pusling animation for visible deployiment style*/
.drodown_item-pulse-animation {
  cursor: pointer;
  animation: pulse_dropdown_item 3s infinite;
}
.drodown_item-pulse-animation:hover {
  animation: none;
}

@keyframes pulse_dropdown_item {
  0% {
    box-shadow: 0 0 0 0 var(--dropdown-pulse-anim-box-shadow-start);
  }
  70% {
    box-shadow: 0 0 0 10px var(--dropdown-pulse-anim-box-shadow-mid);
  }
  100% {
    box-shadow: 0 0 0 0 var(--dropdown-pulse-anim-box-shadow-end);
  }
}


/* show invalid input feedback */
.dropdown-item_not-allowed_input input{
  box-shadow: 0px 0px 2px 2px var(--ddm-not-allowed-bg);
}
.dropdown-item_not-allowed_input input:hover{
  box-shadow: 0px 0px 2px 2px var(--ddm-not-allowed-bg-h);
}


/* debugging */
.force-flex{
  display: flex !important;
}


/* testing yt gif tutorial - drop down menu */
.dwn-update span.drodown_item-pulse-animation.dropdown-info-message {
  --dropdown-pulse-anim-box-shadow-start: var(--updt-pulse-anim-shadows);
  --dropdown-pulse-anim-box-shadow-mid:  var(--updt-pulse-anim-shadows-mid);
  --dropdown-pulse-anim-box-shadow-end: transparent;
  --message-opacity: .7;
}
.dropdown:hover > .drodown_item-pulse-animation{
  animation: none !important;
}

span.dropdown-item.yt-gif-wrapper-parent {
  width: 100%;
  justify-content: center;
  height: 180px;
  padding: 10px 0px;
}

span.dropdown-item.yt-gif-wrapper-parent *{
  --m: 0px !important;
}
.dropdown a {
  --m: 0;
}

.dwn-yt-gif-player-container span.dropdown-item{
  max-width: none;
}

.dwn-yt-gif-player-container label.dropdown-item-description {
  max-width: 40ch;
}

span.dropdown-item.yt-gif-wrapper-parent .yt-gif-wrapper.dont-focus-block {
  width: auto;
}
.yt-gif-wrapper-parent.yt-gif-asserting-tutorial{
  align-items: flex-start;
  justify-content: center;
}

.ddm-tut-awaiting-input{
  border-radius: 8px;
  box-shadow: 0px 0px 0px 5px var(--tut-awaiting-input-contour);
}
.dropdown-info-message:focus {
  outline: var(--info-ms-focus-contour) auto 1px;
  outline-offset: 2px;
}
.roam-main[style*="100%"] 
.dropdown-show-info {
  --base-x-offset-content: -75%;
}


.ty-gif-icon:focus {
  background-color: var(--drop-menu-btn-f) !important;
  outline: var(--yt-gif-icon-focus-contour) auto 2px;
  outline-offset: 2px;
}



/* yt gif select tutorial v2 - ddm */
.ddm-tut{
  left: 0;
  padding: 5px;
}
.ddm-tut .ddm-select-item{
  max-width: max-content;
  overflow: hidden !important;
  margin: 0px;
}

.ddm-tut{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  z-index: 1000;
}
.tut-sel-wpr{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.yt-gifs-tuts{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.ddm-tut select{
  display: none;
}
:is(.ddm-tut:hover, .ddm-tut.w-full) select{
  display: block;
}



/* timestamp emulation */
a.rm-video-timestamp[yt-gif-timestamp-emulation] * {
  color: var(--c);
}
a.rm-video-timestamp[yt-gif-timestamp-emulation] {
  position: relative;
}
a.rm-video-timestamp[active-timestamp]
{
  box-shadow: inset 0 0 2px 0px var(--c);
  border-radius: 5px;
}
[timestamp-style="start"]{
  --c: var(--tm-start-bg);
}
[timestamp-style="end"] {
  --c: var(--tm-end-bg);
}

.yt-timestamp-pulse-text-anim{
  animation: pulseText .5s 1;
}
.yt-timestamp-warn{
  --pulse-c: 255, 0, 0;
}
.yt-timestamp-success{
  --pulse-c: 0, 255, 0;
}
.yt-timestamp-opening{
  --pulse-c: 0, 0, 255;
}
.yt-timestamp-pause{
  --pulse-c: 138, 43, 226;
}
.yt-gif-timestamp-parent{
  display: table-cell;
}
.yt-gif-timestamp-prevent-scroll{
  overscroll-behavior: contain;
  overflow: auto;
}


@keyframes pulseText{
  0%{
    --c: rgb(var(--pulse-c));
      text-shadow: 0px 0px 0px rgb(var(--pulse-c) , 70%)
  }
  70%{
    --c: rgb(var(--pulse-c));
      text-shadow: 0px 0px 0px rgb(var(--pulse-c) , 100%);
  }
  100%{
    --c: rgb(var(--pulse-c));
      text-shadow: 0px 0px 0px rgb(var(--pulse-c)  70%);
  }
}

/* Hmmm yes go on */
.dropdown-show-info input{
  margin: 0 !important;
}
.dropdown input[type=checkbox], input[type=radio] {
  aspect-ratio: 1 / 1;
  min-width: 20px;
}
a.rm-video-timestamp[last-active-timestamp] {
  text-decoration: underline;
  text-underline-position: from-font;
}
a.rm-video-timestamp[last-active-timestamp]:hover {
  text-underline-position: unset;
}
:is(.ddm-transparent-btn-h):hover {
  --dropdown-main-btn-bg-h: transparent;
}
[class*="yt-gif"] .m-0{
  margin: 0 !important;
}
.yt-gif-btn {
  position: relative;
  display: flex !important;

  width: 24px;
  aspect-ratio: 1 / 1;
}
.yt-gif-controls .yt-gif-btn > .bp3-button::before{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.yt-gif-controls :is([data-tooltip])::before,
.yt-gif-controls :is([data-tooltip])::after{
max-width: fit-content;
}

/* ************************************ */
/* edit blocks near yt-gifs */
.yt-gif-wrapper.dont-focus-block {
  margin: 2px;
}
.yt-gif-wrapper-parent {
  cursor: initial;
}

/* simulate empty selector */
.bp3-icon-video.yt-gif{
  padding: 0 !important;
  position: relative;
}
.bp3-icon-video.yt-gif::before{
  margin: 0 !important;
}

/* accomodate for tooltips */
.yt-gif-max-tooltip::before{
  width: max-content !important;
  max-width: max-content !important;
}

/* row of url btns */
:is(.bp3-button, .rm-video-timestamp):hover .yt-gif-url-btns,
.hover .yt-gif-url-btns{
 display: flex !important;
}
.rm-video-timestamp > div {
  /* background: red; */
  height: -webkit-fill-available;
  position: absolute !important;
  display: flex;
  bottom: 0%;
  width: -webkit-fill-available;
  justify-content: center;
}
.rm-video-timestamp .yt-gif-url-btns{
  position: relative;height: fit-content;
  transform: translateY(-100%);
  min-width: 24px;
  bottom: 0px !important;
}
:is([class*="yt-gif"]) .bp3-button::before,
.ty-gif-icon svg{
  margin: 0 !important;
}
.dropdown span:is([formatter],[insertoptions]){ /* huga buga */
  pointer-events: none;
}
.yt-gif-btn span {
  display: flex;
}
.yt-gif-url-btns.vertical{
  flex-direction: column-reverse;
  bottom: 100%;
  left: 0px;
}
/* pepega */
.dropdown .yt-gif-url-btns{
  display: none !important;
}
.yt-gif-controls 
span.bp3-button::before {
    margin: 0;
}

.yt-gif-url-btns.vertical 
.yt-gif-url-btn-wrapper::before{
  left: 100%;
  transform: translateX(0%) 
  translateY(20%) scale(var(--ddm-scale-tooltip));
}
/* pepega */
.yt-gif-url-btns{
  position: absolute;
  left: 100%;
  bottom: 0;
  gap: .1ch;
}
.yt-gif-url-btns {
  display: none !important;
}

[yt-gif-url-btn] {
  --btn-comment: var(--url-btn-bg);
  background-color: var(--btn-comment) !important;
}
[yt-gif-url-btn]:hover{
  --btn-comment: var(--url-btn-bg-h);
}
/* emebeded row */

.btn-row.yt-gif-url-btn-wrapper .yt-gif-url-btn-wrapper {
  display: none;
}
.btn-row.yt-gif-url-btn-wrapper:hover .yt-gif-url-btn-wrapper{
  display: flex;
}
.btn-row.yt-gif-url-btn-wrapper :first-child{
  display: flex;
}
.bp3-icon-video .btn-row.yt-gif-url-btn-wrapper{
  display: flex;
}

/* ddm select row - mid */
.dropdown.yt-gif-style-mid {
  --m: 5px;
}

.ddm-select-item {
  background-color: var(--submenu-message-bg);
  border-color: transparent;
  cursor: pointer;
  height: fit-content;
  margin: 10px 0px;
  align-self: center;
}

.ddm-info {
  background-color: var(--submenu-message-bg);
  color: var(--dropdown-c);
  cursor: default;

  padding: calc(var(--m) / 2);

  border-radius: 5px;
}

.ddm-select-w{
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-end;
}

.dropdown-item-select{
  display: grid;
  width: auto;
  grid-template-columns: fit-content(50%) fit-content(50%); /* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns#:~:text=grid%2Dtemplate%2Dcolumns%3A-,fit%2Dcontent(40%25)%3B,-grid%2Dtemplate%2Dcolumns */
  padding-right: 10px;
  align-items: center;
}

.dropdown-item-select .ddm-info{
  justify-self: end;
  width: max-content;
  margin: 5px 10px;
  padding: 3px 5px;
}
.dropdown-item-select .ddm-select-item{
  justify-self: end;
  width: max-content;
}
select {
  --m: 0px;
}
/* alright */
.ddm-updt-h {
  border: 2px var(--ddm-updt-h) solid;
  border-style: dashed;
}
.yt-gif-wrapper, .yt-gif-iframe-wrapper {
  min-width: 220px;
}
.dropdown select {
  color: var(--dropdown-c);
}
.yt-gifs-tuts .yt-gif-controls{
  bottom: 43%;
}

/* custom select */
.select {
  display: flex;
  gap: 5px;
  margin: 3px 5px;
  align-self: end;
  --m: 2px;
  align-items: center;
}
.select[multiple] .bp3-button.bp3-small{
  padding: 0px 2px;
}
.select.select-vertcial {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* padding-right: 10px; */
  margin: 5px 0px;
}

span.select__item {
  padding: 3px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  color: var(--dropdown-c) !important;
  transition: background 0.1s;
}
span.select__item.bp3-button.bp3-minimal.bp3-small{
  color: var(--dropdown-c) !important;
  height: max-content;
}
.dropdown-content .bp3-button[class*="bp3-icon-"]::before{
  --dropdown-c: var(--sel-btn-c);
  color: var(--dropdown-c) !important;
}
.dropdown-content [selected] [class*="bp3-icon"]::before{
  --dropdown-c: var(--sel-btn-sel-c);;
  color: var(--dropdown-c) !important;
}
.dropdown-content [class*="bp3-icon"]:hover::before{
  color: var(--dropdown-c) !important;
}
.dropdown-content [selected] [class*="bp3-icon"]:hover::before{
  --dropdown-c: var(--sel-btn-sel);
  color: var(--dropdown-c) !important;
}
span.bp3-button.select__item,
.select [class*="bp3-icon"] {
  border: 1px solid;
  border-color: var(--submenu-message-bg);
  background: var(--sel-bg) !important;
  /* opacity: .5 !important; */
}

span.bp3-button.select__item[selected] {
   background: var(--sel-sel) !important; /* .select [selected] [class*="bp3-icon"] */
   color: var(--sel-item-c-sel) !important;
   /* opacity: 1 !important; */
}
.bp3-button.select__item[selected]:hover {
 background-color: var(--sel-h);
}

/* timestamp sets */
[yt-gif-timestamp-emulation]{
  filter: brightness(70%);
}
[timestamp-set="single"]{
  filter: brightness(85%);
}
[timestamp-set="pears"]{
  filter: brightness(100%);
}
[out-of-bounds]{
  text-decoration: line-through;
  filter: brightness(60%);
}

/* Hmmm yes go on */
.dropdown *::selection {
  background: transparent;
  color: inherit;
}
.dropdown.dropdown-show-info:hover {
  z-index: 100;
}
.select__item[disabled] {
  --dropdown-c: var(--sel-disabled-c);
  cursor: not-allowed !important;
  background: var(--sel-disabled-bg) !important;
}
.dropdown-item .select [selected] [class*="bp3-icon"] {
  filter: brightness(2);
}

/* yt-gif anchor */
span.yt-gif-anchor .bp3-button.bp3-minimal:hover {
  background: transparent !important;
}

/* Hmmm yes go on 2 */
.bp3-button.bp3-icon-video.yt-gif {
  display: inline-flex !important;
  margin: 0 !important;
}
.yt-gif-awaiting-for-user-input:hover 
.yt-gif-invisible-element {
    opacity: 1;
    color: white;
}