:root {
  --yt-gif-player-span: 50%;
}
/*---------------------------------------------*/
/* acomodate editable block and inline referece on the bottom right*/
.yt-gif-wrapper,
.yt-gif-iframe-wrapper {
  display: -webkit-inline-box;
}
/*---------------------------------------------*/
/* supported target components */
.yt-gif-wrapper-parent > :is(.rm-xparser-default-yt-gif,.rm-video-player__spacing-wrapper),
/* video size */
.yt-gif-wrapper,
.yt-gif-iframe-wrapper {
  width: var(--yt-gif-player-span); /* this is what you want */
  height: 100%;
  aspect-ratio: 16 / 9;
}
/* + nice round edges */
.yt-gif-wrapper iframe {
  border-radius: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*---------------------------------------------*/

/* multiple videos are annoying and too bright */
.yt-gif-wrapper {
  filter: brightness(0.75);
  position: relative;
}

/*---------------------------------------------*/

/* down middle the video */
.yt-gif-controls {
  height: fit-content;
  width: 100%;

  display: flex;
  gap: 10px;

  position: absolute;
  bottom: 20%; /* Y axis positioning */

  justify-content: center;
  align-items: center;

  cursor: initial;
}
/* main feature 00:00/00:00 */
.yt-gif-timestamp {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin: 0px 5px;

  right: 0;
  bottom: 0;

  overscroll-behavior: contain; /* so you can scroll back and forward in time and not the actual document */
  overflow: auto;

  --h: 1.5em;
  height: calc(var(--h) + 0.1em);
  font-size: 1.15em;

  cursor: row-resize;
}
.yt-gif-timestamp:hover,
.yt-gif-timestamp-update {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
/* offset feedback colors */
:is(.yt-gif-timestamp, .yt-gif-timestamp-update):hover :is([offset]) {
  color: red;
}
:is(.yt-gif-timestamp, .yt-gif-timestamp-update):hover :is([tick-offset]) {
  color: orange;
}

/*---------------------------------------------*/

/* beta functionality */
.yt-gif-theater-mode {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.yt-gif-theater-mode.yt-gif-invisible-element:hover {
  background-color: gray;
}

/*---------------------------------------------*/
.yt-gif-invisible-element {
  opacity: 0;
  color: transparent;
}
.yt-gif-invisible-element:hover {
  opacity: 1;
}

/* initialize_yt_gif_on_mouseenter feature */
.yt-gif-awaiting-for-user-input {
  background-color: var(--awaiting-player-bg);
  border-radius: 10px;
}
.yt-gif-awaiting-for-user-input-with-thumbnail {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.yt-gif-awaiting-palyer--pulse-animation {
  cursor: pointer;
  animation: pulse_dropdown_awaiting_player 6s infinite;
}
.yt-gif-awaiting-palyer--pulse-animation:hover {
  animation: none;
}

@keyframes pulse_dropdown_awaiting_player {
  0% {
    box-shadow: inset 0 0 2px 1px
      var(--awaiting-player-pulse-anim-box-shadow-start);
  }
  50% {
    box-shadow: inset 0 0 8px 4px
      var(--awaiting-player-pulse-anim-box-shadow-mid);
  }
  100% {
    box-shadow: inset 0 0 2px 1px
      var(--awaiting-player-pulse-anim-box-shadow-end);
  }
}

/* Hmmm yes go on */
.yt-gif-wrapper.dont-focus-block {
  margin: 2px;
}
.yt-gif-wrapper-parent {
  cursor: initial;
}
