:root {
  --dropdown-main-btn-bg-h: rgba(167, 182, 194, 0.3);
  --dropdown-shadow: rgb(16 22 26 / 10%);
  --dropdown-c: rgb(172 179 191);

  --yt-gif-icon-bg: #696969;

  --drop-menu-btn-h: var(--dropdown-main-btn-bg-h);
  --drop-menu-btn-f: rgba(167, 182, 194, 0.2);
  --dropdown--bg: #10161a;

  --submenu-message-bg: #2f414e;

  --submenu-styles-item-bg-h: rgba(74, 190, 195, 0.3);
  --submenu-styles-content-bg: #415c69;

  --submenu-info-btn-bg: #1b5021;
  --submenu-info-btn-bg-h: rgba(44, 116, 52, 0.87);

  --submenu-info-item-bg-h: #3e8a47ba;

  --deployment-extreme-bg: blue;
  --deployment-mid-bg: red;

  --deployment-forbidden-extreme-bg: var(--dropdown--bg);
  --deployment-forbidden-mid-bg: #ad301b;

  --deployment-allright-mid-bg: #176951;

  --submenu-message-bg-high: #144b54;

  --dropdown-pulse-anim-box-shadow-start: rgba(204, 169, 44, 0.4);
  --dropdown-pulse-anim-box-shadow-mid: rgba(204, 169, 44, 0);
  --dropdown-pulse-anim-box-shadow-end: rgba(204, 169, 44, 0);

  --awaiting-player-bg: rgba(47, 47, 53, 0.561);
  --awaiting-player-box-shadow: rgb(79 94 107);

  --awaiting-player-pulse-anim-box-shadow-start: rgb(126 126 126 / 79%);
  --awaiting-player-pulse-anim-box-shadow-mid: #565656;
  --awaiting-player-pulse-anim-box-shadow-end: rgb(126 126 126 / 79%);

  --ddm-tooltip-c: #989898;
  --ddm-tooltip-bg: #333;

  --tut-awaiting-input-contour: #3d4f58;
  --info-ms-focus-contour: #006064;

  --updt-pulse-anim-shadows: rgb(139 195 74 / 98%);
  --updt-pulse-anim-shadows-mid: transparent;

  --yt-gif-icon-focus-contour: rgba(19, 124, 189, 0.6);
}
