:root {
  --dropdown--bg: #fff;
  --dropdown-shadow: rgb(105 119 131);
  --dropdown-c: black;

  --yt-gif-icon-bg: #5c7080;

  --dropdown-main-btn-bg-h: rgb(14 118 199 / 24%);
  --drop-menu-btn-f: rgb(148 161 171 / 10%);
  --dropdown-btns-h: var(--dropdown-main-btn-bg-h);

  --submenu-message-bg: rgb(48 108 159 / 24%);

  --submenu-styles-content-bg: #e3e5e7;
  --submenu-styles-item-bg-h: #b8c0c8;

  --submenu-info-btn-bg: #e6e6e7;
  --submenu-info-btn-bg-h: rgb(87 184 144);

  --submenu-info-item-bg-h: rgb(87 184 144 / 45%);

  --deployment-extreme-bg: blue;
  --deployment-mid-bg: red;

  --deployment-forbidden-extreme-bg: var(--dropdown--bg);
  --deployment-forbidden-mid-bg: #eb5034;

  --deployment-allright-mid-bg: #21aa81;

  --submenu-message-bg-high: rgb(93 112 128 / 12%);

  --dropdown-pulse-anim-box-shadow-start: rgba(204, 169, 44, 0.4);
  --dropdown-pulse-anim-box-shadow-mid: rgba(204, 169, 44, 0);
  --dropdown-pulse-anim-box-shadow-end: rgba(204, 169, 44, 0);

  --awaiting-player-bg: rgba(85, 85, 185, 0.561);
  --awaiting-player-box-shadow: rgb(79 94 107);

  --awaiting-player-pulse-anim-box-shadow-start: rgba(204, 169, 44, 0.4);
  --awaiting-player-pulse-anim-box-shadow-mid: rgba(204, 169, 44, 0);
  --awaiting-player-pulse-anim-box-shadow-end: rgba(204, 169, 44, 0);

  --ddm-tooltip-c: #333;
  --ddm-tooltip-bg: #989898;
}
